@import "../../../variables";

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.submitButton {
  color: #1f2327;
  background: $add-todo-button-background;

  &:hover {
    background: $add-todo-button-background;
    transform: scale(1.025);
  }

  &:hover:disabled {
    transform: none;
    animation: $round-button-shake;
  }
}
